* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: black;
}

a {
    text-decoration: none;
}



.top {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}



.header {
    padding: 40px 375px 0 375px;
    box-sizing: border-box;
    margin: 0 0 84px 0;
    display: flex;
    justify-content: space-around;
    gap: 346px;
}

.top-logo-head {}

.menu-item {}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 34px;
    max-width: 687px;
}

.menu-link {
    color: black;
}

.menu-link-home {
    color: #F25822;
}


.top-info {
    display: flex; 
    gap: 39px;
    margin: 0 auto 162px auto
}

.top-content {
    max-width: 522px;
}

.top-content-title {
    margin: 0 0 17px 0;
    font-size: 60px;
    line-height: 70px;
}

.top-content-txt {
    margin: 0 0 37 0;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top-content-wrp {
    display: flex;
    gap: 27px;
}

.top-contnet-btn{
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 15px 30px;
    box-sizing: border-box;
    background-color: #F25822;
    border-radius: 50px;
    border: none;
}

.grey-btn{
    color: #AAAAAA;
    background: transparent;
}

.top-info-img {}

.top-logos{}

.top-logos-list {
    list-style: none;
    display: flex;
    gap: 48px;
    
}

.top-logos-list-item {}