*{
    padding: 0;
    margin: 0;
}
.top {

}

.top-logo-head{

}
.header{
padding: 40px 375px 0 375px;
margin: 0 0 84px 0;
box-sizing: border-box;
}
.menu-list{
padding: 11px 0 12px 0;
}
.menu-item{

}
.menu-list{

}

.top-info{
margin: 0 0 162 0;
}

.top-content{

}
.top-content-title{
margin: 0 0 17 0;
}
.top-content-txt{
margin: 0 0 37 0;
}
.top-content-wrp{

}
.top-info-img{

}
.top-logos-list{

}

.top-logos-list-item{

}
